<!DOCTYPE html>
	<html >
	<!--From https://codepen.io/frytyler/pen/EGdtg-->
	<head>
	<meta charset="UTF-8">
	<title>Cement 1Day Strength</title>
	</head>

	<body>
	<div class="login">
	<h1>Cement 1Day Strength Prediction</h1>

	<!-- Main Input For Receiving Query to our ML -->
	<form action="{{ url_for('predict')}}"method="post">
	<input type="text" name="BM" placeholder="Ball Mill Power" required="required" />
	<input type="text" name="Cement_CaO" placeholder="Cement Cao" required="required" />
	<input type="text" name="Cl_C3A_x" placeholder="Clinker C3A" required="required" />
	<input type="text" name="Cl_C3s" placeholder="Clinker C3S" required="required" />
	<input type="text" name="GA_Dosage_x" placeholder="GA Dosage" required="required" />
	<input type="text" name="C_Blaine" placeholder="Cement Blaine" required="required" />
	<input type="text" name="RP_Power" placeholder="RP Power" required="required" />
	<input type="text" name="PA_prop" placeholder="PA Proportion" required="required" />
	<input type="text" name="Gypsum_Purity" placeholder="Gypsum Purity" required="required" />
	<input type="text" name="Cement_So3_x" placeholder="Cement So3" required="required" />




	<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
	</form>

	<br>
	<br>
	{{ prediction_text }}

	</div>


	</body>
	</html>
